# デフォルト全除外
*

# 管理対象ファイル
!/.gitignore
!/avply.toml
!/build.ps1
!/build-and-test.ps1
!/CLAUDE.md
!/CMakeLists.txt
!/CMakePresets.json
!/COPYING
!/LICENSE
!/README.md
!/README.en.md
!/Taskfile.yml

# 管理対象ディレクトリ
!/.github/
!/.github/**
!/docs/
!/docs/**
!/src/
!/src/**
!/tests/
!/tests/**
!/third_party/
!/third_party/**

# 管理対象内の除外
*.local.*
